.mainContent {
  width: 100%;

  .hero {
    width: 90%;
    height: 300px;
    border-radius: 20px;
    margin: 40px auto;
    padding: 30px;
    padding-top: 100px;
    background-image: url("/images/pc_back.png");
    background-size: cover;
    background-position: bottom;
    border: 1px solid rgb(145, 145, 145);
    .title {
      font-size: 130px;
      line-height: 140px;
      color: var(--main-black-color);
    }
    .desc {
      font-size: 17px;
      font-weight: bold;
    }
  }
  .content {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1280px) {
  .mainContent {
    width: 100%;
    .hero {
      width: 95%;
      height: 150px;
      padding: 30px;
      margin: 0 auto;
      .title {
        font-size: 50px;
        line-height: 60px;
      }
      .desc {
        font-size: 10px;
        font-weight: bold;
      }
    }
    .content {
      width: 80%;
      margin: 0 auto;
    }
  }
}
