.entryform {
  width: 100vw;
  .hero {
    width: 50%;
    padding: 50px 20px;
    margin: 0 auto;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    background-color: var(--main-white-color);
    .title {
      text-align: center;
      font-size: var(--xxlarge-font-size);
      margin-bottom: 20px;
    }
    .underLine {
      display: block;
      width: 100%;
      height: 1px;
      background-color: #e1e1e1;
      margin-bottom: 30px;
    }
    .desc {
      width: 70%;
      margin: 0 auto;
      text-align: center;
      font-size: var(--defualt-font-size);
    }
  }
  .entry {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .form {
      max-width: 600px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      .formTitle {
        font-size: var(--xlarge-font-size);
        margin-bottom: 20px;
        padding: 50px 0px;
        text-align: center;
      }
    }

    .field {
      margin-bottom: 15px;

      label {
        display: block;
        margin-bottom: 5px;
      }

      input[type="text"],
      input[type="number"],
      select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }

    .submitButtonContainer {
      display: flex;
      justify-content: center;
    }

    .submitButton {
      padding: 20x 40px;
      background-color: var(--main-pink);
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: var(--sub-pink);
      }
    }
  }
}

// TODO 仮置き
.error__message {
  color: red;
}

@media screen and (max-width: 1280px) {
}
