.about {
  position: absolute;
  width: 100vw;
  height: 3000px;
  padding: 100px 0;
  z-index: 2;

  .container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid red;
  }
}
