.bgImage {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/images/pc_back.png");
  background-size: cover;
  z-index: -1;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 768px) {
}
