.hamburgerBtn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 999;
  width: 54px;
  height: 55px;
  background-color: var(--main-pink);

  &.open .line {
    &:nth-child(1) {
      height: 2px;
      transform: rotate(45deg) translateX(10px); // translateYをtranslateXに修正します
    }
    &:nth-child(2) {
      opacity: 0;
    }
  }

  .icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25px;
    margin-top: -10px;

    .line {
      background-color: var(--main-white-color);
      width: 35px;
      transition: all 0.3s ease;
      &:nth-child(1) {
        height: 2px;
        transform: translateY(6px);
      }
      &:nth-child(2) {
        height: 2px;
        transform: translateY(8px);
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .hamburgerBtn {
    display: none;
  }
}
