.linkBox {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--main-black-color);
  font-weight: bold;
  margin-right: 40px;

  &:hover::after {
    width: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--main-blue-color); // アンダーラインの色
    transition: width 0.3s ease; // 幅の変化にトランジションを適用
  }
}

.small {
}
.medium {
  font-size: 14px;
  font-weight: 700;
}
.large {
}

@media screen and (max-width: 1280px) {
  .linkBox {
    display: none;
  }
}
