.logoLinkBox {
  width: 250px;
  height: 80px;
  display: flex;
  align-items: center;
  .logoImg {
    height: auto;
  }
}

.small {
  width: 200px;
}
.medium {
  width: 180px;
}
.large {
  width: 300px;
}
