.titleBox {
  display: block;
  max-width: 200px;
  height: 50px;
  padding: 10px 30px;
  margin-bottom: 20px;
  border-bottom: 4px solid var(--main-pink);
  .titleText {
    font-size: 20px;
    line-height: 30px;
    color: black;
    font-weight: bold;
  }
}

@media screen and (max-width: 1280ox) {
  .titleBox {
    display: block;
    max-width: 150px;
    height: 40px;
    text-align: center;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: var(--main-pink);
    margin-bottom: 20px;
    .titleText {
      font-size: 14px;
      line-height: 20px;
      color: white;
    }
  }
}
